.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: var(--color-bg);
}

/* content area */
.content {
  flex: 1;

  /* space for fixed navbar */
  padding-top: 90px;

  /* space before footer */
  padding-bottom: 40px;

  padding-left: 20px;
  padding-right: 20px;

  max-width: 1400px;
  width: 100%;
  margin: auto;

  box-sizing: border-box;
}